<div class="row">
    <div class="col-md list-screen">
      <div class="single category">
      <h3 class="side-title">Category</h3>
      <ul class="list-unstyled">
      <% @todo_lists.each do |todo_list| %>
      <li>
        <%= link_to todo_list.title, todo_list %>
      </li>
      <%end%>
    </ul>
      <%= link_to 'New Todo List', new_todo_list_path %>
    </div>
    </div>
</div>


