
default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000

development:
  adapter: mysql2
  #encoding: utf8
  database: todos_manager
  adapter: mysql2
  encoding: utf8
  pool: 5
  username: root
  host: 127.0.0.1
production:
  <<: *default
  port: 5432 
  socket: /tmp/mysql.sock
  database: stakeway_production
  password: <%= ENV['MYAPP_DATABASE_PASSWORD'] %>